[submodule "conda-recipes/vendor/bfalg_wta"]
	path = conda-recipes/vendor/bfalg_wta
	url = https://github.com/venicegeo/bfalg_wta
[submodule "conda-recipes/vendor/beachfront-py"]
	path = conda-recipes/vendor/beachfront-py
	url = https://github.com/venicegeo/beachfront-py/
[submodule "conda-recipes/vendor/gippy"]
	path = conda-recipes/vendor/gippy
	url = https://github.com/gipit/gippy/
[submodule "conda-recipes/vendor/pypotrace"]
	path = conda-recipes/vendor/pypotrace
	url = https://github.com/flupke/pypotrace
[submodule "conda-recipes/vendor/pzsvc-exec"]
	path = conda-recipes/vendor/pzsvc-exec
	url = https://github.com/venicegeo/pzsvc-exec/
