{
	"CliCmd":"python ../bfalg_WTA.py .",
	"PzAddrEnVar":"PZ_ADDR",
	"SvcName":"BF_Algo_WTA_PY_SNOWFLAKE",
	"Description":"Shoreline Detection using the WTA Algorithm via Beachfront's own python script.",
	"APIKeyEnVar":"PZ_API_KEY",
	"PortEnVar":"PORT",
	"Attributes":{
		"ImgReq - cloudCover":"10",
		"ImgReq - bands":"blue,green,red,coastal,nir",
		"SvcType":"beachfront",
		"Interface":"pzsvc-wta-py",
		"ArbAttribute":"commit to kick off jenkins build"
	},
	"CanUpload": true,
	"CanDownlPz": true,
	"CanDownlExt": true,
	"RegForTaskMgr": true,
	"MaxRunTime": 450,
	"LocalOnly": false,
	"LogAudit": true,
	"ExtRetryOn202":true,
	"DocURL":"https://github.com/venicegeo/pzsvc-wta-py/blob/master/README.md"
}
